.carousel {
    width: 100%;
    height: 50vh;
}


.cell-1{
    background-color: blanchedalmond;
}
.cell-2{
    background-color: blueviolet;
}
.cell-3{
    background-color: cornflowerblue;
}
.carousel-cell{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: black;
}